{% extends 'pages/layout-page.html.twig' %}

{% block security %}
     <div class="row justify-content-center">
        <div class="col-md-4">
            {% include('pages/security/login/_login_form.html.twig') %}
            <hr>
            <p>
                <a href="{{ path('password_reset_request') }}" class="link">{{ 'login.forgot_password'|trans }}</a>
            </p>
            <p>
                Vous n'avez pas de compte ? <a href="{{ path('registration') }}" class="link">cliquez ici.</a>
            </p>
        </div>
        <!--end col-md-6-->
    </div>
    <!--end row-->

{% endblock %}
