 <form class="hero-form form">
    <div class="container">
        <!--Main Form-->
        <div class="main-search-form">
            <div class="form-row">
                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label for="what" class="col-form-label">Mot-clé</label>
                        <input name="keyword" type="text" class="form-control" id="what" placeholder="Que cherchez-vous ?">
                    </div>
                    <!--end form-group-->
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label for="category" class="col-form-label">Catégorie</label>
                        <select name="category" id="category" data-placeholder="Select Category">
                            <option value="">Selectionnez une Catégorie</option>
                            <option value="1">Computers</option>
                            <option value="2">Real Estate</option>
                            <option value="3">Cars & Motorcycles</option>
                            <option value="4">Furniture</option>
                            <option value="5">Pets & Animals</option>
                        </select>
                    </div>
                    <!--end form-group-->
                </div>
                <!--end col-md-3-->
                <div class="col-md-3 col-sm-3">
                    <button type="submit" class="btn btn-primary width-100">Recherche</button>
                </div>
                <!--end col-md-3-->
            </div>
            <!--end form-row-->
        </div>
        <!--end main-search-form-->
    </div>
    <!--end container-->
</form>
