{% set minLimit = page - 3 %}
{% set maxLimit = page + 3 %}
{% set hellipMin = 0 %}
{% set hellipMax = 0 %}
{% set arrayPages = range(1, nbPages) %}

<nav aria-label="..." class="mt-5">
  <ul class="pagination m-auto">
    {% for p in arrayPages %}
        {% if p > minLimit and p < maxLimit or p == min(arrayPages) or p == min(arrayPages) + 1 or p == max(arrayPages) or p == max(arrayPages) - 1 %}
            {% if p == page %}
                <li class="page-item active">
                    <span class="page-link">
                        {{ p }}
                        <span class="sr-only">(current)</span>
                    </span>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="{{ path(app.request.get('_route'), {'page': p}) }}" aria-label="Goto page {{ p }}">{{ p }}</a></li>
            {% endif %}
        {% else %}
            {% if hellipMin != 1 and minLimit > min(arrayPages) and minLimit > min(arrayPages) + 1 %}
                <li class="page-item">
                    <span class="page-link">&hellip;</span>
                </li>
                {% set hellipMin = 1 %}
            {% elseif hellipMax != 1 and maxLimit < max(arrayPages) and maxLimit < max(arrayPages) - 1 %}
                <li class="page-item">
                    <span class="page-link">&hellip;</span>
                </li>
                {% set hellipMax = 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}
  </ul>
</nav>
